<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zk.walkwayapp">

    <application
        android:name=".WalkWayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/plusbutton_gps_selected"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plusbutton_gps_selected"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.LanuchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.RegistActivity"/>
        <activity android:name=".view.activity.FirstGuideActivity"/>
        <activity android:name=".view.MainActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.activity.LoginActivity"/>
        <service android:name=".step.service.StepService"/>
    </application>

</manifest>